@import url(./global-reset.css);

body {
  position           : relative;
  /* background-color: #414042; */
  font-family        : 'Helvetica', 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
  position: relative;
}

input::before, input::after {
  font-family        : 'Helvetica', 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,
div.section {
  width          : 100%;
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
}

.container {
  width : 100%;
  margin: auto;

  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  align-items    : center;

  padding: 1rem;

  /* background-color: aqua; */
}

@media (min-width: 1000px) {
  .container {
    width: 85%;
    max-width: 80rem;
  }

  div.section {
    flex-direction : row;
  }
}